<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="PythonPath" value="py" />
		<add key="EngineApiPath" value="..\..\..\..\engine_api.py" />
		<add key="SessionsDirectory" value="sessions" />
		<add key="LogsDirectory" value="logs" />
		<add key="ExportsDirectory" value="exports" />
	</appSettings>
</configuration>